/*--------------------------------------------------------------------------------------------------
		HTML Tags
*/

/* 내장 폰트 */
@font-face {
	font-family	: 'OpenSans-Bold';
	font-style	:	normal;
	font-weight	:	700;
	src					:	url(./fonts/OpenSans-Bold.woff) format('woff');
}
body {
  font-family	: OpenSans-Bold, Helvetica, Arial, Sans-Serif;
	overflow		: hidden;
	margin			: 0px;
}

/* 탭 포커싱 테두리 */
img:focus, select:focus, span:focus, li:focus {
	border : 1px solid rgba(128, 255, 255, 0.5) !important; 
	box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; /* inner border style */
	outline : none;	/* hide default focus frame */
}

/*--------------------------------------------------------------------------------------------------
		Components By Class
*/

/* 페이지 번호 */			.pagenum			{	text-align : center; font-size : 1em;}
/* 페이지 번호 */			.pagetotal		{	text-align : center; font-size : 0.9em;}

/* 로고 이미지 */			.logo					{	cursor : pointer; }
/* 홈 버튼 */					.home					{	cursor : pointer; }

/* 섬네일 항목 */				.thumblist ul	{	margin:0px; padding:0px; }
/* 섬네일 항목 */				.thumblist li		{	display:inline; margin:0px 2px; }
/* 섬네일 선택 표시 */	.thumblist .on	{	border : 4px solid rgb(255, 128, 0);
																				box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; 	/* inner border style */
																				}
/* 섬네일 번호 칸 */		.thumblist span	{ position : absolute; padding : 0.2em 0.4em; margin : 2px 0px 0px 2px;
																					border : 1px solid rgb(128, 128, 128); border-radius : 1em;
																					background-color : rgb(255,255,255); color : rgb(64,64,64);
																					text-align : center; text-shadow : 1px 1px rgb(192,192,192);
																					font-weight : bold; font-size : 10px; font-family : Helvetica, Arial, sans-serif;
																					}
												.thumblist img		{	cursor : pointer; width:100%; height:auto; }

/* 책갈피 이미지 */		.pageview img.bookmark			{ position:absolute; width:5%; height:auto; cursor:pointer; top:-2%; left:0px; right:0px; margin:auto; opacity:0.3; filter:alpha(opacity=30); }
									.pageview img.bookmark:hover			{ opacity:0.5; filter:alpha(opacity=50); border:3px dotted #DDDDDD; }
									.pageview img.bookmark.activate	{ opacity:1.0 !important; filter:alpha(opacity=100) !important; }

/* 창 끌기바(공통속성) */
.draggable		{ width:100%; left:0px; top:-2em; position:absolute; margin:0px; font-weight:bold; color:white; z-index:10; outline:black solid 1px;
	background: #aebcbf; /* Old browsers */
	background: -moz-linear-gradient(top,  #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aebcbf), color-stop(50%,#6e7774), color-stop(51%,#0a0e0a), color-stop(100%,#0a0809)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
}
.draggable p		{ margin:0.25em; }
div span.close	{ position:absolute; right:0.25em; top:-1.75em; cursor:pointer; color:white; z-index:10; }

/* 암호입력박스 */
#pwdBox {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 33%, #e1e1e1 34%, #f6f6f6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 33%,#e1e1e1 34%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 33%,#e1e1e1 34%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

/*--------------------------------------------------------------------------------------------------
		목차 창
*/
div.tablelist { position : absolute;	left : 30%; top : 15%; min-width : 200px; max-width : 400px; width : 30%;	height : 300px; z-index : 6; display : none; border:1px solid black;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(229,229,229) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(229,229,229))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(229,229,229) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(229,229,229) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(229,229,229) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(229,229,229) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
.tablelist ul					{ width:100%; height:100%; overflow-y:auto; padding:0px; margin:0px; list-style-type:none; }
.tablelist li						{ border:1px solid #AAA; }
.tablelist li.contents	{ border:1px solid #AAA; cursor:pointer;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(left,  #ffffff 0%, #f1f1f1 80%, #e1e1e1 82%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(80%,#f1f1f1), color-stop(82%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #ffffff 0%,#f1f1f1 80%,#e1e1e1 82%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #ffffff 0%,#f1f1f1 80%,#e1e1e1 82%,#f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #ffffff 0%,#f1f1f1 80%,#e1e1e1 82%,#f6f6f6 100%); /* IE10+ */
	background: linear-gradient(to right,  #ffffff 0%,#f1f1f1 80%,#e1e1e1 82%,#f6f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 */
}
.tablelist li.contents:hover	{
	background: #fffcbf; /* Old browsers */
	background: -moz-linear-gradient(left,  #fffcbf 0%, #f2f2e1 80%, #e8eac0 82%, #f4f3d7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fffcbf), color-stop(80%,#f2f2e1), color-stop(82%,#e8eac0), color-stop(100%,#f4f3d7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #fffcbf 0%,#f2f2e1 80%,#e8eac0 82%,#f4f3d7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #fffcbf 0%,#f2f2e1 80%,#e8eac0 82%,#f4f3d7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #fffcbf 0%,#f2f2e1 80%,#e8eac0 82%,#f4f3d7 100%); /* IE10+ */
	background: linear-gradient(to right,  #fffcbf 0%,#f2f2e1 80%,#e8eac0 82%,#f4f3d7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcbf', endColorstr='#f4f3d7',GradientType=1 ); /* IE6-9 */
}
.tablelist li p			{ margin:0.25em auto; padding-left:0.5em; padding-right:1.0em; }
.tablelist li span	{ float:right; color:#39C}

/*--------------------------------------------------------------------------------------------------
		책갈피 창
*/
div.bookmarklist { position : absolute;	left : 55%; top : 15%; min-width : 150px; max-width : 90%; width : 30%;	height : 400px; z-index : 6; display : none; border:1px solid black;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(229,229,229) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(229,229,229))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(229,229,229) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(229,229,229) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(229,229,229) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(229,229,229) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
/* 책갈피 목록 */
.bookmarklist ul					{ width:95%; height:95%; left:0px; right:0px; top:0px; bottom:0px; margin:auto; padding:0px; position:absolute; list-style-type:none; overflow:auto; }
.bookmarklist li					{ border:1px solid #AAA; }
.bookmarklist li.contents	{ cursor:pointer; height:100px;
	background: #f9fcf7; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #f9fcf7 0%, #f5f9f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f9fcf7), color-stop(100%,#f5f9f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #f9fcf7 0%,#f5f9f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #f9fcf7 0%,#f5f9f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #f9fcf7 0%,#f5f9f0 100%); /* IE10+ */
	background: linear-gradient(135deg,  #f9fcf7 0%,#f5f9f0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.bookmarklist li.contents:hover	{
	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #fcfff4 0%, #e9e9ce 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#fcfff4), color-stop(100%,#e9e9ce)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #fcfff4 0%,#e9e9ce 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #fcfff4 0%,#e9e9ce 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #fcfff4 0%,#e9e9ce 100%); /* IE10+ */
	background: linear-gradient(135deg,  #fcfff4 0%,#e9e9ce 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.bookmarklist li.contents img				{ display:inline-block; float:left; width:auto; height:100%; border:1px solid gray; }
.bookmarklist li.contents span.page	{ position:absolute; left:5px; background-color:white; border:1px solid gray; border-radius:1em; font-size:0.75em; padding:0.2em 0.5em; margin-top:0.5em; }
.bookmarklist li.contents span.text		{ padding:0.5em; color:#39C; }

/* 검색 목록 */

/*--------------------------------------------------------------------------------------------------
		검색 창
*/
div.searchlist { position:absolute; left : 5%; top : 15%; min-width : 200px; max-width : 400px; width : 30%; min-height:100px; max-height:90%; height:50%; z-index:6; display:none; border:1px solid black;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(229,229,229) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(229,229,229))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(229,229,229) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(229,229,229) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(229,229,229) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(229,229,229) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
.searchlist ul					{ width:100%; height:100%; left:0px; right:0px; top:0px; margin:auto; padding:0px; position:absolute; list-style-type:none; overflow-y:auto; }
.searchlist li					{ border:1px solid #AAA; }
.searchlist li.header		{ text-align:center;
	background: rgb(226,226,226); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(226,226,226) 0%, rgb(219,219,219) 50%, rgb(209,209,209) 51%, rgb(254,254,254) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(226,226,226)), color-stop(50%,rgb(219,219,219)), color-stop(51%,rgb(209,209,209)), color-stop(100%,rgb(254,254,254))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(226,226,226) 0%,rgb(219,219,219) 50%,rgb(209,209,209) 51%,rgb(254,254,254) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(226,226,226) 0%,rgb(219,219,219) 50%,rgb(209,209,209) 51%,rgb(254,254,254) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(226,226,226) 0%,rgb(219,219,219) 50%,rgb(209,209,209) 51%,rgb(254,254,254) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(226,226,226) 0%,rgb(219,219,219) 50%,rgb(209,209,209) 51%,rgb(254,254,254) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
.searchlist li.header input.search_text	{ position:relative; width:98%; height:1.5em; left:0px; right:0px; margin:auto; }
.searchlist li.header p								{ position:relative; margin:0px; font-weight:bold; }

.searchlist li.contents	{ cursor:pointer; height:100px;
	background: #f9fcf7; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #f9fcf7 0%, #f5f9f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f9fcf7), color-stop(100%,#f5f9f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #f9fcf7 0%,#f5f9f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #f9fcf7 0%,#f5f9f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #f9fcf7 0%,#f5f9f0 100%); /* IE10+ */
	background: linear-gradient(135deg,  #f9fcf7 0%,#f5f9f0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.searchlist li.contents:hover	{
	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #fcfff4 0%, #e9e9ce 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#fcfff4), color-stop(100%,#e9e9ce)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #fcfff4 0%,#e9e9ce 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #fcfff4 0%,#e9e9ce 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #fcfff4 0%,#e9e9ce 100%); /* IE10+ */
	background: linear-gradient(135deg,  #fcfff4 0%,#e9e9ce 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.searchlist li.contents img						{ display:inline-block; float:left; width:auto; height:100%; border:1px solid gray; }
.searchlist li.contents span.page				{ position:absolute; left:5px; background-color:white; border:1px solid gray; border-radius:1em; font-size:0.75em; padding:0.2em 0.5em; margin-top:0.5em; }
.searchlist li.contents span.text				{ color:#39C}
.searchlist li.contents span.highlight		{ color:#F90; background-color:#FF0;font-weight:bold;}

.searchlist li.more 									{ color:#FFF; font-weight:bold; text-align:center; cursor:pointer; 
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(125,126,125) 0%, rgb(14,14,14) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(125,126,125)), color-stop(100%,rgb(14,14,14))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(125,126,125) 0%,rgb(14,14,14) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(125,126,125) 0%,rgb(14,14,14) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(125,126,125) 0%,rgb(14,14,14) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(125,126,125) 0%,rgb(14,14,14) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}
.searchlist li.more:hover 						{ 
	background: rgb(181,189,200); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(181,189,200) 0%, rgb(130,140,149) 36%, rgb(40,52,59) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(181,189,200)), color-stop(36%,rgb(130,140,149)), color-stop(100%,rgb(40,52,59))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(181,189,200) 0%,rgb(130,140,149) 36%,rgb(40,52,59) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(181,189,200) 0%,rgb(130,140,149) 36%,rgb(40,52,59) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(181,189,200) 0%,rgb(130,140,149) 36%,rgb(40,52,59) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(181,189,200) 0%,rgb(130,140,149) 36%,rgb(40,52,59) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}

/*--------------------------------------------------------------------------------------------------
		Objects By ID
*/

/* 배경 영역 */
#background{
	position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:1; border:0px;
	background: #b9e2bf;
}

/* 페이지 표시 영역 */
#pageview{ position:absolute; left:0px; right:0px; margin:auto; top:80px; max-width:1200px; width:100%; height:80%; min-height:50px; z-index:2; border:0px; background: rgba(0,0,0,0.01); overflow:hidden; }

/* 이전호 목록 */		#booklist		{ position : absolute;	right	: 2%;	top : 1%;	width : 150px;	font-size:100%; z-index : 3; }

/*--------------------------------------------------------------------------------------------------
		퀵 메뉴
*/
/* 퀵 메뉴 창 */								#quick_window					{	position : absolute;	left : 5%; bottom : 2%;	width : 90%;	height : 25px; z-index : 5; text-align:center; }

/* 퀵 메뉴 홈 버튼 */						#quick_home_btn				{ position : relative;	width : auto;	height : 100%; margin:0px 1%; }
/* 퀵 메뉴 첫 페이지 버튼 */		#quick_first_btn			{ position : relative;	width : auto;	height : 100%; margin:0px 1%; }
/* 퀵 메뉴 이전 페이지 버튼 */	#quick_prev_btn				{ position : relative;	width : auto;	height : 100%; margin:0px 1%; }
/* 퀵 메뉴 페이지 번호 배경 */	#quick_pagenum_bg			{ position : relative;	width : auto;	height : 100%; margin:0px 1%; }
/* 퀵 메뉴 페이지 번호 글자 */	#quick_pagenum_area		{ position : absolute;	width : 5em;	height : 100%; left : 0px; right : 0px; margin : auto; top : 10%; color : white;}
/* 퀵 메뉴 페이지 수 글자 */		#quick_pagetotal_area	{ position : absolute;	width : 5em;	height : 100%; left : 3.5em; right : 0px; margin : auto; top : 30%; color : #567;}
/* 퀵 메뉴 다음 페이지 버튼 */	#quick_next_btn				{ position : relative;	width : auto;	height : 100%; margin:0px 1%; }
/* 퀵 메뉴 끝 페이지 버튼 */		#quick_last_btn				{ position : relative;	width : auto;	height : 100%; margin:0px 1%; }
/* 퀵 메뉴 홈 버튼 */						#quick_fullscreen_btn	{ position : relative;	width : auto;	height : 100%; margin:0px 1%; }

/*--------------------------------------------------------------------------------------------------
		도구 메뉴
*/
/* 도구 창 */				#menu_window	{ position : relative;	display:block; z-index : 5; height : 45px; background:white; padding:20px 0px 0px 0px; box-shadow: 0px 3px 5px #a1c4a6; }
/* 도구 중간박스 */	#menu_center	{ position : relative;	width : 100%; max-width : 1200px; left : 0px; right : 0px; top:0px; bottom:0px; margin : auto; text-align:right; }
/* 도구 항목 */			.menuobjects	{ margin:2px 10px 0px 0px; height:14px; width:auto; float:right; }
/* 로고 이미지 */		#menu_logo		{ margin-left:10px; width:auto; height:24px;	float:left; }

/*--------------------------------------------------------------------------------------------------
		섬네일
*/
/* 섬네일 목록 */		#thumbnail_list	{ position  : absolute;	right : 0px;	top : 10%;	min-width : 50px; width : 5%;	height : 80%; z-index : 5; padding: 0px 0px; overflow-x:hidden; overflow-y:auto; background:rgba(0,0,0,0.5); }

/*--------------------------------------------------------------------------------------------------
		SNS
*/
/* SNS 창				*/	#sns_window	{ position : relative; display : block; z-index : 4; padding : 0px; background:black; }
/* sns 중간박스	*/	#sns_center	{ position : relative;	width : 100%; max-width : 1200px; left : 0px; right : 0px; margin : auto; }
/* SNS 각 항목	*/	.snsobjects { margin-left : 10px; height:14px; width:auto; }


